<?xml version="1.0" encoding="UTF-8"?>
<plugin>
<name>EspaceInsecable</name>
<type>edit</type>
<author>un_pogaz</author>
<description>Espace Insécable</description>
<engine>python3.4</engine>
<version>0.1.0</version>
<oslist>unx,win,osx</oslist>
<autostart>true</autostart>
<autoclose>true</autoclose>
</plugin>
